$transparent-white : rgba(255, 255, 255, 0.5);
$dark-brown : rgb(43, 34, 28);
$brown : rgb(76, 60, 48);

div.header {
  position: fixed;
  background-color: white;
  width: 100%;
  h1 {
    font-size: 6em;
    font-weight: 300;
    color: $brown;
  }
}
div.content-area {
  background-image: url("../../resources/images/food-wood.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 130px;
}

div.meals-area {
  margin: 0 5% 5% 5%;
  padding-top: 3%;
  .meal-list {
    width: 80%;
    background-color: $transparent-white;
    margin: 15px 0 0 0;
    padding: 5px 10px 10px 20px;
    color: $dark-brown;
  }

}

div.meal-list {
  span.calories {
    font-size: .9em;
    font-weight: normal;
    margin-left: 10px;
  }
  p {
    line-height: .5em;
  }
  button {
    height: 25px;
    padding: 0 10px 0 10px;
  }
}

div.new-meal, div.edit-meal {
  width: 72%;
  margin: 1% 5% 5% 5%;
  padding: 5px 20px 20px 20px;
  background-color: $transparent-white;
  color: $dark-brown;
  button {
    height: 25px;
    padding: 0 10px 0 10px;
  }
}
